<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillQuest</title>
    <link rel="stylesheet" href="adminDashboard.css">
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <main>
        <nav>
            <div class="nav-logo">
                <span class="logo-circle">SQ</span>
                <span class="logo">SkillQuest Admin</span>
            </div>
            <ul class="nav-navigation">
                <li>
                    <a href="">
                        <span>Browse Tasks</span>
                    </a>
                </li>
                <li>
                    <a href="./assets/components/login.html">
                        <span>Home</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="nav-cover"></div>
        <div class="admin-dashboard-first-page">
            <div class="admin-dashboard-first-page-inners" id="pending-user">
                <i class="ri-user-line"></i>
                <span class="admin-dashboard-first-page-inners-count">3</span>
                <span class="admin-dashboard-first-page-inners-info">Pending Users</span>
            </div>

            <div class="admin-dashboard-first-page-inners" id="pending-user">
                <i class="ri-file-list-line"></i>
                <span class="admin-dashboard-first-page-inners-count">2</span>
                <span class="admin-dashboard-first-page-inners-info">Pending Tasks</span>
            </div>

            <div class="admin-dashboard-first-page-inners" id="pending-user">
                <i class="ri-group-line"></i>
                <span class="admin-dashboard-first-page-inners-count">3</span>
                <span class="admin-dashboard-first-page-inners-info">Total Users</span>
            </div>

            <div class="admin-dashboard-first-page-inners" id="pending-user">
                <i class="ri-file-copy-2-fill"></i>
                <span class="admin-dashboard-first-page-inners-count">3</span>
                <span class="admin-dashboard-first-page-inners-info">Total Tasks</span>
            </div>
        </div>
    </main>
</body>
</html>