*{
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
:root{
    --white: #FFF;
    --background: oklch(0.145 0 0);
    --lightter-background: #181818;
    --dark-gray: oklch(0.446 0.03 256.802);
    --green-bgc: #00C853;
    --dark-green: #009624;
    --light-green: oklch(0.726563 -0.177442 0.109428/0.1);
    --gray: oklch(0.707 0.022 261.325);
    --red: red;
}
nav{
    height: 11vh;
    width: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    border-bottom: 0.1px solid var(--green-bgc);
}
.nav-logo{
    height: 100%;
    width: 28%;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
}
.logo-circle{
    font-size: 16px;
    background-color: var(--green-bgc);
    padding: 6px 6px;
    border-radius: 12px;
}
.logo{
    color: var(--white);
}
.nav-navigation{
    height: 100%;
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 22px;
}
.nav-navigation li a{
    text-decoration: none;
    color: var(--white);
    transition: all ease-in-out 0.3s;
}
.nav-navigation li{
    list-style: none;
}
.nav-navigation li a:hover{
    color: var(--green-bgc);
}
/* cover nav */
.nav-cover{
    height: 11vh;
}
main{
    background-color: var(--background);
}
/* title page */
.admin-dashboard-tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    padding-top: 34px;
    padding-bottom: 12px;
    line-height: 1.5;
}
.admin-dashboard-tittle-heading{
    display: flex;
    align-items: center;
    color: var(--green-bgc);
    font-size: 22px;
    font-weight: 469;
    gap: 8px;
}
.admin-dashboard-tittle-heading i{
    font-size: 36px;
    font-weight: 900;
}
.admin-dashboard-tittle span{
    color: var(--gray);
    font-size: 16px;
}
/* first page */
.admin-dashboard-first-page{
    background-color: var(--background);
    height: 20vh;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.admin-dashboard-first-page-inners{
    background-color: var(--lightter-background);
    width: 22.5%;
    height: 18vh;
    border: 0.1px solid var(--green-bgc);
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    box-sizing: border-box;
    padding: 24px;
    line-height: 1.5;
}
.admin-dashboard-first-page-inners-left{
    display: flex;
    flex-direction: column;
}
.admin-dashboard-first-page-inners i{
    font-size: 38px;
    color: var(--green-bgc);
}
.admin-dashboard-first-page-inners-count{
    font-size: 18px;
    color: var(--green-bgc);
    margin-left: 4px;
}
.admin-dashboard-first-page-inners-info{
    font-size: 16px;
    color: var(--gray);
    font-weight: inherit;
}
/* for second page */
.admin-dashboard-second-page-navigation{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    box-sizing: border-box;
}
.admin-dashboard-second-page-navigation-nav{
    height: 80%;
    width: 100%;
    background-color: var(--lightter-background);
    border-radius: 12px;
    border: 0.1px solid var(--green-bgc);
    overflow: hidden;
    display: flex;
}
.admin-dashboard-second-page-navigation-nav-inners{
    height: 100%;
    width: 33.39%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 4px;
    font-weight: 500;
    border-bottom: 2.5px solid rgba(255, 0, 0, 0);
    color: var(--gray);
    cursor: pointer;
    box-sizing: border-box;
}
#admin-dashboard-second-page-navigation-nav-registration{
    color: var(--green-bgc);
    border-color:  var(--green-bgc);
}


.admin-dashboard-second-page-navigation-nav-inners i{
    font-weight: 600;
}
.admin-dashboard-second-page-navigation-nav-inners:hover{
    color: var(--white);
}

.admin-dashboard-last-page-registration,
.admin-dashboard-last-page-tasks,
.admin-dashboard-last-page-registration{
    min-height: 16vh;
}
.admin-dashboard-last-page-registration-upper,
.admin-dashboard-last-page-tasks-upper,
.admin-dashboard-last-page-users-upper{
    box-sizing: border-box;
    height: 10vh;
    padding: 0 24px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.admin-dashboard-last-page-registration-upper h2,
.admin-dashboard-last-page-tasks-upper h2,
.admin-dashboard-last-page-users-upper h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--white);
}
.admin-dashboard-last-page-registration-upper-search,
.admin-dashboard-last-page-users-upper-search{
    height: 7vh;
    width: 19%;
    background-color: var(--lightter-background);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 4px 6px 4px;
    box-sizing: border-box;
    gap: 4px;
    border: 0.1px solid var(--dark-gray);
}
.admin-dashboard-last-page-registration-upper-search i,
.admin-dashboard-last-page-users-upper-search i{
    height: 84%;
    width: 10%;
    font-size: 22px;
    font-weight: 500;
    color: var(--gray);
}
.admin-dashboard-last-page-registration-upper-search input,
.admin-dashboard-last-page-users-upper-search input{
    outline: none;
    height: 84%;
    width: 86%;
    font-size: 14px;
    background-color: var(--lightter-background);
    border: none;
    color: var(--white);
}
.admin-dashboard-last-page-registration-lower,
.admin-dashboard-last-page-users-lower{
    background-color: var(--background);
    padding: 4px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.admin-dashboard-last-page-registration-lower-inners,
.admin-dashboard-last-page-users-lower-inners{
    height: 128px;
    width: 100%;
    background-color: var(--lightter-background);
    padding: 24px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid var(--green-bgc);
    display: flex;
    position: relative;
} 
.admin-dashboard-last-page-registration-lower-inners:hover,
.admin-dashboard-last-page-users-lower-inners:hover{
    border: 1px solid var(--dark-green);
}
.admin-dashboard-last-page-registration-lower-inners-icon,
.admin-dashboard-last-page-users-lower-inners-icon{
    height: 90%;
    width: 4.3%;
    display: flex;
    align-items: start;
}
.admin-dashboard-last-page-registration-lower-inners-icon i,
.admin-dashboard-last-page-users-lower-inners-icon i{
    padding: 11.5px 12px;
    border-radius: 48%;
    background-color: var(--green-bgc);
    color: var(--white);
    font-size: 22px;
}
.admin-dashboard-last-page-registration-lower-inners-info,
.admin-dashboard-last-page-users-lower-inners-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 10px;
}
.admin-dashboard-last-page-registration-lower-inners-info-name-role,
.admin-dashboard-last-page-users-lower-inners-info-name-role{
    display: flex;
    gap: 4px;
}
.admin-dashboard-last-page-registration-lower-inners-info-name-role h3,
.admin-dashboard-last-page-users-lower-inners-info-name-role h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
}
.admin-dashboard-last-page-registration-lower-inners-info-name-role span,
.admin-dashboard-last-page-users-lower-inners-info-name-role span{
    font-size: 12px;
    font-weight: 500;
    background-color: var(--green-bgc);
    height: fit-content;
    padding: 2px 6px 4px 4px;
    border-radius: 8px;
}
.admin-dashboard-last-page-registration-lower-inners-info-email,
.admin-dashboard-last-page-users-lower-inners-info-email{
    margin-bottom: 4px;
}
.admin-dashboard-last-page-registration-lower-inners-info-email span,
.admin-dashboard-last-page-users-lower-inners-info-email span{
    color: var(--gray);
    font-size: 16px;
    font-weight: 500;
}
.admin-dashboard-last-page-registration-lower-inners-info-extra-info,
.admin-dashboard-last-page-users-lower-inners-info-extra-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.admin-dashboard-last-page-registration-lower-inners-info-extra-info span,
.admin-dashboard-last-page-users-lower-inners-info-extra-info span{
    font-size: 14px;
    color: var(--gray);
    font-weight: 500;
}
.admin-dashboard-last-page-registration-lower-inners-info-extra-info-dots{
    height: 4px;
    width: 4px;
    background-color: var(--dark-gray);
    border-radius: 50%;
}
.admin-dashboard-last-page-registration-lower-inners-options,
.admin-dashboard-last-page-users-lower-inners-options{
    position: absolute;
    right: 24px;
    height: 60%;
    display: flex;
    align-items: center;
    gap: 12px;
}
.admin-dashboard-last-page-registration-lower-inners-options button,
.admin-dashboard-last-page-users-lower-inners-options button{
    height: 42px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 16px;
    border: 1.5px solid;
    border-radius: 12px;
    transition: all ease-in 0.3s;
}
.admin-dashboard-last-page-registration-lower-inners-options i,
.admin-dashboard-last-page-users-lower-inners-options i{
    font-size: 20px;
    font-weight: 600;
}
#admin-dashboard-last-page-registration-lower-inners-options-accept{
    background-color: var(--green-bgc);
    color: var(--background);
    border-color: var(--green-bgc);
}
#admin-dashboard-last-page-registration-lower-inners-options-accept:hover{
    background-color: var(--dark-green);
}
#admin-dashboard-last-page-registration-lower-inners-options-reject,
#admin-dashboard-last-page-users-lower-inners-options-reject{
    color: var(--red);
    background-color: var(--lightter-background);
}
#admin-dashboard-last-page-registration-lower-inners-options-reject:hover,
#admin-dashboard-last-page-users-lower-inners-options-reject:hover{
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red);
}
/* for task approval */
.admin-dashboard-last-page-tasks-lower{
    background-color: var(--background);
    padding: 4px 24px 24px 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}
.admin-dashboard-last-page-tasks-lower-inners{
    height: 394px;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-dashboard-last-page-tasks-lower-inners-infos{
    height: 85.5%;
    width: 100%;
    background-color: var(--lightter-background);
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    border-radius: 12px;
    border: 0.1px solid var(--green-bgc);

}
.admin-dashboard-last-page-tasks-lower-inners-options{
    height: 14.5%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.admin-dashboard-last-page-tasks-lower-inners-options button{
    height: 42px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 54px;
    border: 1.5px solid;
    border-radius: 12px;
    transition: all ease-in 0.3s;
}
.admin-dashboard-last-page-tasks-lower-inners-options i{
    font-size: 20px;
    font-weight: 600;
}
#admin-dashboard-last-page-tasks-lower-inners-options-accept{
    background-color: var(--green-bgc);
    color: var(--background);
    border-color: var(--green-bgc);
}
#admin-dashboard-last-page-tasks-lower-inners-options-accept:hover{
    background-color: var(--dark-green);
}
#admin-dashboard-last-page-tasks-lower-inners-options-reject{
    color: var(--red);
    background-color: var(--lightter-background);
}
#admin-dashboard-last-page-tasks-lower-inners-options-reject:hover{
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red);
}
.admin-dashboard-last-page-tasks-lower-inners-infos-title{
    display: flex;
    width: 100%;
}
.admin-dashboard-last-page-tasks-lower-inners-infos-title h3{
    font-size: 24px;
    color: var(--green-bgc);
    font-weight: 540;
}
.admin-dashboard-last-page-tasks-lower-inners-infos-title span{
    background-color: var(--green-bgc);
    height: fit-content;
    text-align: center;
    width: 68px;
    padding: 0 4px 4px 4px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
}
.admin-dashboard-last-page-tasks-lower-inners-infos p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gray);
}
.admin-dashboard-last-page-tasks-lower-inners-infos ul{
    line-height: 1.6;
}
.admin-dashboard-last-page-tasks-lower-inners-infos ul li{
    list-style: none;
    font-size: 14px;
    color: var(--gray);
    line-height: 1.6;
    font-weight: 400;
    display: flex;
    gap: 6px;
}
.admin-dashboard-last-page-tasks-lower-inners-infos ul li i{
    font-size: 16px;
}
.admin-dashboard-last-page-tasks-lower-inners-infos-task-type{
    background-color: var(--dark-green);
    color: var(--white);
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
}

/* for user management */
#admin-dashboard-last-page-users-lower-inners-options-accept{
    background-color: var(--lightter-background);
    border: 2px solid var(--green-bgc);
    color: var(--green-bgc);
}
#admin-dashboard-last-page-users-lower-inners-options-accept:hover{
    background-color: var(--green-bgc);
    color: var(--background);
}