<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillQuest</title>
    <link rel="stylesheet" href="adminDashboard.css">
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <main>
        <nav>
            <div class="nav-logo">
                <span class="logo-circle">SQ</span>
                <span class="logo">SkillQuest</span>
            </div>
            <ul class="nav-navigation">
                <li>
                    <a href="">
                        <span>Browse Tasks</span>
                    </a>
                </li>
                <li>
                    <a href="./assets/components/login.html">
                        <span>Home</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="nav-cover"></div>
        <div class="admin-dashboard-tittle">
            <div class="admin-dashboard-tittle-heading">
                <i class="ri-shield-line"></i>
                <h1>Admin Dashboard</h1>
            </div>
            <span>Manage users, approvals, and monitor platform activity</span>
        </div>
        <div class="admin-dashboard-first-page">
            <div class="admin-dashboard-first-page-inners" id="pending-user">
                <div class="admin-dashboard-first-page-inners-left">
                    <span class="admin-dashboard-first-page-inners-info">Pending Registrations</span>
                    <span class="admin-dashboard-first-page-inners-count">3</span>
                </div>
                <i class="ri-user-line"></i>
            </div>

            <div class="admin-dashboard-first-page-inners" id="pending-user">
                <div class="admin-dashboard-first-page-inners-left">
                    <span class="admin-dashboard-first-page-inners-info">Pending Tasks</span>
                    <span class="admin-dashboard-first-page-inners-count">3</span>
                </div>
                <i class="ri-file-list-line"></i>
            </div>

            <div class="admin-dashboard-first-page-inners" id="pending-user">
               <div class="admin-dashboard-first-page-inners-left">
                    <span class="admin-dashboard-first-page-inners-info">Total Users</span>
                    <span class="admin-dashboard-first-page-inners-count">3</span>
                </div>
                <i class="ri-user-line"></i>
            </div>

            <div class="admin-dashboard-first-page-inners" id="pending-user">
                <div class="admin-dashboard-first-page-inners-left">
                    <span class="admin-dashboard-first-page-inners-info">Total Tasks</span>
                    <span class="admin-dashboard-first-page-inners-count">3</span>
                </div>
                <i class="ri-file-copy-2-fill"></i>
            </div>
        </div>

        <div class="admin-dashboard-second-page-navigation">
            <div class="admin-dashboard-second-page-navigation-nav">
                <div class="admin-dashboard-second-page-navigation-nav-inners">
                    <i class="ri-group-line"></i>
                    <span>Registrations</span>
                </div>
                <div class="admin-dashboard-second-page-navigation-nav-inners">
                    <i class="ri-group-line"></i>
                    <span>Tasks</span>
                </div>
                <div class="admin-dashboard-second-page-navigation-nav-inners">
                    <i class="ri-group-line"></i>
                    <span>Manages Users</span>
                </div>
            </div>
        </div>

        <div class="admin-dashboard-last-page-registration">
            <div class="admin-dashboard-last-page-registration-upper">
                <h2>Pending Registrations</h2>
                <div class="admin-dashboard-last-page-registration-upper-search" id="admin-dashboard-last-page-registration-upper-search">
                    <i class="ri-search-line"></i>
                    <input type="search" name="admin-dashboard-last-page-registration-upper-search-searcher" id="admin-dashboard-last-page-registration-upper-search-searcher" placeholder="Search registrations..">
                </div>
            </div>
            <div class="admin-dashboard-last-page-registration-lower">
                <!-- ever users info -->
                <div class="admin-dashboard-last-page-registration-lower-inners">
                    <div class="admin-dashboard-last-page-registration-lower-inners-icon">
                        <i class="ri-user-line"></i>
                    </div>
                    <div class="admin-dashboard-last-page-registration-lower-inners-info">

                    </div>
                    <div class="admin-dashboard-last-page-registration-lower-inners-options">

                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="adminDashboard.js"></script>
</body>
</html>