*{
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
:root{
    --white: #FFF;
    --background: oklch(0.145 0 0);
    --lightter-background: #181818;
    --dark-gray: oklch(0.446 0.03 256.802);
    --green-bgc: #00C853;
    --dark-green: #009624;
    --light-green: oklch(0.726563 -0.177442 0.109428/0.1);
    --gray: oklch(0.707 0.022 261.325);
    --red: red;
    --orange: #f0b100;
}
nav{
    height: 11vh;
    width: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    z-index: 999;
    border-bottom: 0.1px solid var(--green-bgc);
}
.nav-logo{
    height: 100%;
    width: 28%;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
}
.logo-circle{
    font-size: 16px;
    background-color: var(--green-bgc);
    padding: 6px 6px;
    border-radius: 12px;
}
.logo{
    color: var(--white);
}
.nav-navigation{
    height: 100%;
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 22px;
}
.nav-navigation li a{
    text-decoration: none;
    color: var(--white);
    transition: all ease-in-out 0.3s;
}
.nav-navigation li{
    list-style: none;
}
.nav-navigation li a:hover{
    color: var(--green-bgc);
}
main{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    padding-top: 11vh;
    position: relative;
}

/* title page */
.business-dashboard-tittle{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0 24px;
    gap: 14px;
}
.business-dashboard-tittle-compartment{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* #business-dashboard-tittle-compartment-btn{
    align-items: end;
} */
.business-dashboard-tittle-heading{
    display: flex;
    align-items: center;
    color: var(--green-bgc);
    font-size: 14px;
    font-weight: 300;
    gap: 8px;
    line-height: 1.1;
}
.business-dashboard-tittle span{
    color: var(--gray);
    font-size: 16px;
}
.business-dashboard-tittle button{
    width: 100%;
    color: var(--background);
    background-color: var(--green-bgc);
    border: none;
    padding: 6px 0 8px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
}
.business-dashboard-tittle button i{
    font-size: 16px;
    font-weight: 600;
}
.business-dashboard-tittle button:hover{
    background-color: var(--dark-green);
}

/* dashboard left nav */
.business-dashboard-left-nav{
    height: 100vh;
    position: fixed;
    width: 26%;
    left: 0;
    padding: 16px 0 24px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    overflow-x: scroll;
}
.business-dashboard-left-nav-cover{
    height: 10vh;
    width: 26%;
}
.business-dashboard-last-page-main{
    min-height: 10vh;
    width: 76%;
    box-sizing: border-box;
    background-color: var(--lightter-background);
}

/* task posting form */
.business-dashboard-post-task-wrapper{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.744);
    position: fixed;
    z-index: 9999999999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.business-dashboard-post-task{
    position: relative;
    height: 86vh;
    width: 54%;
    background-color: var(--lightter-background);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
}
.business-dashboard-post-task-tittle{
    position: absolute;
    padding: 24px;
    border-bottom: 1px solid var(--green-bgc);
    width: 100%;
    box-sizing: border-box;
    background-color: var(--lightter-background);
}
.business-dashboard-post-task-tittle h2{
    font-size: 32px;
    font-weight: 500;
    color: var(--white);
}
.business-dashboard-post-task-tittle-cover{
    height: 16vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}
form{
    width: 100%;
    padding: 24px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: scroll;
}
.form-fields{
    display: flex;
    flex-direction: column;
}
.form-fields label,
form ul li label{
    font-size: 14px;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 8px;
}
.form-fields input,
.form-fields textarea,
.inputs,
form ul li select{
    padding: 8px 16px;
    font-size: 14px;
    color: var(--white);
    background-color: var(--background);
    border: none;
    border-radius: 8px;
    outline: none;
}
.form-fields textarea{
    height: 102px;
    resize: none;
}
form ul{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 12px;
}
form ul li{
    list-style: none;

    display: flex;
    flex-direction: column;
}
.inputs{
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: var(--background);
}
.inputs input{
    outline: none;
    border: none;
    background-color: var(--background);
    color: var(--white);
    font-size: 14px;
    width: 96%;
}
.inputs i{
    font-size: 16px;
}
#form-fields-note{
    background-color: rgba(4, 55, 4, 0.403);
    padding: 16px;
    border-radius: 12px;
    font-size: 16px;
    color: var(--green-bgc);
    line-height: 1.6;
}
.form-button-field{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.form-button-field button{
    height: 48px;
    width: 50%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all ease-in-out 0.3s;
}
#form-button-field-cancle{
    border: 1px solid rgba(6, 81, 6, 0.505);
    color: var(--gray);
    background-color: var(--lightter-background);
}
#form-button-field-submit{
    background-color: var(--green-bgc);
    color: var(--lightter-background);
}
#form-button-field-cancle:hover{
    border: 1px solid var(--green-bgc);
    color: var(--white);
}
#form-button-field-submit:hover{
    background-color: var(--dark-green);
}
.business-dashboard-post-task-hider{
    position: absolute;
    right: 36px;
    top: 32px;
}
.business-dashboard-post-task-hider i{
    color: gray;
    font-size: 30px;
    font-weight: 500;
}
.business-dashboard-post-task-hider:hover i{
    color: var(--white);
}

/* first page */
.business-dashboard-first-page{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 20px;
    padding: 0 24px;
}
.business-dashboard-first-page-compartments{
    display: flex;
    gap: 18px;
}
.business-dashboard-first-page-inners{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 6px;
    background-color: var(--lightter-background);
    border-radius: 8px;
}
.business-dashboard-first-page-inners-left{
    display: flex;
    flex-direction: column;
}
.business-dashboard-first-page-inners i{
    font-size: 22px;
    color: var(--green-bgc);
}
.business-dashboard-first-page-inners-count{
    font-size: 18px;
    color: var(--green-bgc);
    margin-left: 8px;
}
.business-dashboard-first-page-inners-info{
    font-size: 16px;
    color: var(--white);
    font-weight: 500;
}

/* for second page */
.business-dashboard-second-page-navigation{
    margin-top: 20px;
}
.business-dashboard-second-page-navigation-nav{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 24px;
}
.business-dashboard-second-page-navigation-nav-inners{
    height: 38px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    font-weight: 400;
    border-bottom: 2.5px solid rgba(255, 0, 0, 0);
    color: var(--gray);
    cursor: pointer;
    box-sizing: border-box;
}
#business-dashboard-second-page-navigation-nav-all-task{
    color: var(--green-bgc);
    border-color:  var(--green-bgc);
}
.business-dashboard-second-page-navigation-nav-inners i{
    font-weight: 500;
}
.business-dashboard-second-page-navigation-nav-inners:hover{
    color: var(--white);
}

/* last page */
.business-dashboard-last-page-all-task,
.business-dashboard-last-page-pending-tasks,
.business-dashboard-last-page-active-tasks,
.business-dashboard-last-page-completed-tasks{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    box-sizing: border-box;
}
.business-dashboard-last-page-all-task-lower-inners,
.business-dashboard-last-page-pending-tasks-inners,
.business-dashboard-last-page-active-tasks-inners,
.business-dashboard-last-page-completed-tasks-inners{
    height: 354px;
    width: 432px;
    background-color: var(--background);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
} 
.business-dashboard-last-page-all-task-lower-inners-tittle,
.business-dashboard-last-page-pending-tasks-inner-tittle,
.business-dashboard-last-page-active-tasks-inners-tittle,
.business-dashboard-last-page-completed-tasks-inners-tittle{
    display: flex;
}
.business-dashboard-last-page-all-task-lower-inners-tittle h3,
.business-dashboard-last-page-pending-tasks-inner-tittle h3,
.business-dashboard-last-page-active-tasks-inners-tittle h3,
.business-dashboard-last-page-completed-tasks-inners-tittle h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-green);
    line-height: 1.5;
    margin-bottom: 6px;
}
.business-dashboard-last-page-all-task-lower-inners-tittle span,
.business-dashboard-last-page-pending-tasks-inner-tittle span,
.business-dashboard-last-page-active-tasks-inners-tittle span,
.business-dashboard-last-page-completed-tasks-inners-tittle span{
    padding: 2px 8px 4px 8px;
    height: fit-content;
    background-color: rgba(0, 128, 0, 0.393);
    color: var(--green-bgc);
    font-size: 12px;
    border-radius: 8px;
}
#panding{
    color: var(--orange);
    background-color: rgba(90, 60, 5, 0.599);
}
.business-dashboard-last-page-all-task-lower-inners p,
.business-dashboard-last-page-pending-tasks-inners p,
.business-dashboard-last-page-active-tasks-inners p,
.business-dashboard-last-page-completed-tasks-inners p{
    line-height: 1.6;
    font-size: 16px;
    font-weight: 450;
    color: var(--gray);
    margin-bottom: 8px;
}
.business-dashboard-last-page-all-task-lower-inners ul,
.business-dashboard-last-page-pending-tasks-inners ul,
.business-dashboard-last-page-active-tasks-inners ul,
.business-dashboard-last-page-completed-tasks-inners ul{
    line-height: 1.6;
}
.business-dashboard-last-page-all-task-lower-inners ul li,
.business-dashboard-last-page-pending-tasks-inners ul li,
.business-dashboard-last-page-active-tasks-inners ul li,
.business-dashboard-last-page-completed-tasks-inners ul li{
    list-style: none;
    font-size: 14px;
    color: var(--gray);
    line-height: 1.6;
    font-weight: 400;
    display: flex;
    gap: 6px;
}
.business-dashboard-last-page-all-task-lower-inners ul li i,
.business-dashboard-last-page-pending-tasks-inners ul li i,
.business-dashboard-last-page-active-tasks-inners ul li i,
.business-dashboard-last-page-completed-tasks-inners ul li i{
    font-size: 16px;
}
.student-dashboard-last-page-browse-task-lower-inners-button,
.business-dashboard-last-page-pending-tasks-inners-button,
.business-dashboard-last-page-active-tasks-inners-button,
.business-dashboard-last-page-completed-tasks-inners-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}
.student-dashboard-last-page-browse-task-lower-inners-button span,
.business-dashboard-last-page-pending-tasks-inners-button span,
.business-dashboard-last-page-active-tasks-inners-button span,
.business-dashboard-last-page-completed-tasks-inners-button span{
    background-color: rgba(0, 128, 0, 0.393);
    font-size: 12px;
    color: var(--green-bgc);
    padding: 2px 12px;
    border-radius: 12px;
}
.business-dashboard-last-page-pending-tasks-inners-button-right{
    display: flex;
    gap: 8px;
}
.business-dashboard-last-page-pending-tasks-inners-button-right button,
.business-dashboard-last-page-completed-tasks-inners-button button{
    font-size: 16px;
    font-weight: 600;
    padding: 4px 16px;
    background-color: var(--green-bgc);
    color: var(--background);
    border-radius: 12px;
    border: none;
    transition: all ease-in-out 0.3s;
    box-sizing: border-box;
}
.business-dashboard-last-page-completed-tasks-inners-button button{
    padding: 6px 16px;
}
.business-dashboard-last-page-completed-tasks-inners-button button:hover{
    background-color: var(--dark-green);
}
#edit-pending-task{
    border: 1px solid var(--orange);
    color: var(--orange);
    background-color: var(--lightter-background);
}
#delete-pending-task{
    border: 1px solid var(--red);
    color: var(--red);
    background-color: var(--lightter-background);
}
#edit-pending-task:hover{
    background-color: rgba(90, 60, 5, 0.599);
}
#delete-pending-task:hover{
    background-color: rgba(114, 4, 4, 0.429);
}

/* for profile */
.business-dashboard-last-page-profile{
    padding: 24px;
    padding-top: 0;
    padding-top: 24px;
}
.business-dashboard-last-page-profile-inner{
    min-height: 80vh;
    width: 82%;
    border-radius: 12px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}
.business-dashboard-last-page-profile-inner-top{
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.business-dashboard-last-page-profile-inner-top-tittle{
    height: 100%;
    width: 60%;
    display: flex;
    gap: 12px;
}
.business-dashboard-last-page-profile-inner-top-tittle-avatar{
    background-color: var(--green-bgc);
    height: 96px;
    width: 96px;
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 49%;
    font-size: 36px;
    font-weight: 400;
}
.business-dashboard-last-page-profile-inner-top-tittle-content{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.business-dashboard-last-page-profile-inner-top-tittle-content h2{
    font-size: 32px;
    color:  var(--white);
    font-weight: 500;
}
.business-dashboard-last-page-profile-inner-top-tittle-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: var(--gray);
}
#business-dashboard-last-page-profile-inner-top-tittle-content-last{
    color: var(--green-bgc);
}
/* .business-dashboard-last-page-profile-inner-top-button{

} */
.business-dashboard-last-page-profile-inner-top-button button{
    color: var(--green-bgc);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid var(--green-bgc);
    background-color: var(--lightter-background);
    border-radius: 8px;
    margin-top: 12px;
    transition: all ease-in-out 0.3s;
}
.business-dashboard-last-page-profile-inner-top-button button:hover{
    background-color: var(--green-bgc);
    color: var(--lightter-background);
}
.business-dashboard-last-page-profile-inner-bio{
    line-height: 1.6;
    margin-bottom: 24px;
}
.business-dashboard-last-page-profile-inner-bio span{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}
.business-dashboard-last-page-profile-inner-bio p{
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
}
.business-dashboard-last-page-profile-inner-detials{
    display: grid;
    grid-template-columns: 346px 346px;
    gap: 20px;
    margin-bottom: 24px;
}
.business-dashboard-last-page-profile-inner-detials li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.business-dashboard-last-page-profile-inner-detials li span{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}
.business-dashboard-last-page-profile-inner-detials li span i{
    margin-right: 4px;
}
.business-dashboard-last-page-profile-inner-detials li p{
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
}
/* .business-dashboard-last-page-profile-inner-skills{

} */
.business-dashboard-last-page-profile-inner-skills p{
    font-size: 14px;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 8px;
}
.business-dashboard-last-page-profile-inner-skills ul{
    display: flex;
    align-items: center;
    gap:16px;
}
.business-dashboard-last-page-profile-inner-skills ul span{
    font-size: 14px;
    font-weight: 400;
    padding: 4px 16px;
    border-radius: 12px;
    background-color: rgba(15, 96, 15, 0.525);
    color: var(--green-bgc);
    border: 0.2px solid var(--green-bgc);
}