*{
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
:root{
    --white: #FFF;
    --background: oklch(0.145 0 0);
    --lightter-background: #181818;
    --dark-gray: oklch(0.446 0.03 256.802);
    --green-bgc: #00C853;
    --dark-green: #009624;
    --light-green: oklch(0.726563 -0.177442 0.109428/0.1);
    --gray: oklch(0.707 0.022 261.325);
    --black: #0A0A0A;
}
main{
    height: 106vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skillquest-logo{
    height: 9%;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 20px;
}
.logo-circle{
    font-size: 18px;
    background-color: var(--green-bgc);
    padding: 7px 8px;
    border-radius: 12px;
}
.logo{
    color: var(--black);
    font-size: 22px;
}
.join-us-loding-steps{
    background-color: blue;
    height: 8vh;
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 26px;
}
.join-us-loding-steps-count{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.join-us-loding-steps-bar{
    height: 6px;
    width: 160px;
    background-color: var(--gray);
    border-radius: 8px;
}
#join-us-loding-steps-first-num::before{
    content: "Role";
    position: absolute;
    bottom: -26px;
    font-size: 14px;
}
#join-us-loding-steps-second-num::before{
    content: "Details";
    position: absolute;
    bottom: -26px;
    font-size: 14px;
}
#join-us-loding-steps-third-num::before{
    content: "Create Account";
    width: 100px;
    position: absolute;
    bottom: -26px;
    font-size: 14px;
}