<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillQuest</title>
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="getStarted.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="skillquest-logo">
            <span class="logo-circle">SQ</span>
            <span class="logo">SkillQuest</span>
        </div>
        <div class="join-us-loding-steps">
            <span id="join-us-loding-steps-first-num" class="join-us-loding-steps-count">1</span>
            <div class="join-us-loding-steps-bar" id="join-us-loding-steps-bar-first"></div>
            <span id="join-us-loding-steps-second-num" class="join-us-loding-steps-count">2</span>
            <span id="join-us-loding-steps-second-num-details">Details</span>

            <div class="join-us-loding-steps-bar"></div>
            <span id="join-us-loding-steps-third-num" class="join-us-loding-steps-count">3</span>
        </div>
        <div class="loding-bar">
            <div class="loding-bar-progress" id="loding-bar-progress">

            </div>
        </div>
        <form class="form-for-choose-role" method="get">
            <!-- tittle for choosing the role -->
            <div class="form-for-choose-role-tittle" id="form-for-choose-role-tittle">
                <h1>Choose Your Role</h1>
                <p>Select how you'll use SkillQuest</p>
            </div>

            <!-- tittle for the details -->
            <div class="form-for-details-tittle" id="form-for-details-tittle" style="display: none;">
                <h1>Tell Us About Yourself</h1>
                <p>We need a few more details</p>
            </div>

            <!-- select for choosing the role -->
            <div class="form-for-choose-role-selector" id="form-for-choose-role-selector">
                <label for="role-sel">I am a</label>
                <select name="role-sel" id="role-sel">
                    <option value="student" selected>Student - Looking for work</option>
                    <option value="business">Business - Need to hire</option>
                </select>
            </div>

            <!-- input for the details -->
            <div class="form-for-choose-details" id="form-for-choose-details" style="display: none;">
                <!-- for student user -->
                <div class="form-for-choose-details-first-row" id="form-for-choose-details-first-row">
                    <div class="form-for-choose-details-first-row-left" id="form-for-choose-details-first-row-left">
                        <label for="fullName">Full Name</label>
                        <input type="text" name="fullName" id="fullName" placeholder="enter your full name" required>
                    </div>

                    <div class="form-for-choose-details-first-row-right" id="form-for-choose-details-first-row-right">
                        <label for="userEmail">Email</label>
                        <input type="email" name="userEmail" id="userEmail" placeholder="enter your email" required>
                    </div>
                </div>
                <div class="form-for-choose-details-second-row" id="form-for-choose-details-second-row">
                    <label for="userLocation">Location</label>
                    <input type="text" name="userLocation" id="userLocation" placeholder="city, state" required>
                </div>
                <div class="form-for-choose-details-third-row" id="form-for-choose-details-third-row">
                    <label for="userSkills">Skills
                        <font style="color: gray;font-weight: 400;">(comma separated)</font>
                    </label>
                    <input type="text" name="userSkills" id="userSkills" placeholder="web development, UI/UX design" required>
                </div>
                <div class="form-for-choose-details-fourth-row" id="form-for-choose-details-fourth-row">
                    <div class="form-for-choose-details-fourth-row-left" id="form-for-choose-details-fourth-row-left">
                        <label for="userPassword">Password</label>
                        <input type="password" name="userPassword" id="userPassword" required>
                    </div>
                    <div class="form-for-choose-details-fourth-row-right" id="form-for-choose-details-fourth-row-right">
                        <label for="userConfirmPass">Confirm Password</label>
                        <input type="password" name="userConfirmPass" id="userConfirmPass" required>
                    </div>
                </div>

                <!-- form for business -->
                <div class="form-for-choose-details-business-first-row" id="form-for-choose-details-business-first-row">
                    <div class="form-for-choose-details-business-first-row-left" id="form-for-choose-details-business-first-row-left">
                        <label for="busPerson">Contact Person</label>
                        <input type="text" name="busPerson" id="busPerson" placeholder="enter your contact person" required>
                    </div>

                    <div class="form-for-choose-details-business-first-row-right" id="form-for-choose-details-business-first-row-right">
                        <label for="busEmail">Email</label>
                        <input type="email" name="busEmail" id="busEmail" placeholder="enter your business email" required>
                    </div>
                </div>
                <div class="form-for-choose-details-business-second-row" id="form-for-choose-details-business-second-row">
                    <label for="busName">Company Name</label>
                    <input type="text" name="busName" id="busName" placeholder="your company name" required>
                </div>
                <div class="form-for-choose-details-business-third-row" id="form-for-choose-details-business-third-row">
                    <label for="busLocation">Location</label>
                    <input type="text" name="busLocation" id="busLocation" placeholder="city, state" required>
                </div>
                <div class="form-for-choose-details-business-fourth-row" id="form-for-choose-details-business-fourth-row">
                    <div class="form-for-choose-details-business-fourth-row-left" id="form-for-choose-details-business-fourth-row-left">
                        <label for="bussPassword">Password</label>
                        <input type="password" name="bussPassword" id="bussPassword" required>
                    </div>
                    <div class="form-for-choose-details-business-fourth-row-right" id="form-for-choose-details-business-fourth-row-right">
                        <label for="busConfirmPass">Confirm Password</label>
                        <input type="password" name="busConfirmPass" id="busConfirmPass" required>
                    </div>
                </div>
            </div>

            <!-- button for choosing the role -->
            <div class="button" id="done-continue">Continue</div>

            <!-- buttons for the details -->
            <div class="details-buttons" style="display: none;" id="details-duttons">
                <div class="button" id="details-back">Back</div>
                <button id="details-continue">Continue</button>
            </div>
            <div class="already-have-account">
                <span>Already have an account?</span>
                <a href="login.html">Login</a>
            </div>
        </form>
    </main>
</body>
<script src="getStarted.js"></script>
</html>